.list-item{  
    background: #acacac61;
    padding: 6px 5px;
    border-bottom: 2px solid #cacaca;
    transition: all .5s;
    overflow: hidden;
}
.dark-list-item{
    background: #20202061;
    padding: 6px 5px;
    border-bottom: 2px solid #cacaca;
    transition: all .5s;
    overflow: hidden;
}
.list-item .title{
    font-size: 19px;
    font-weight: 200;
    color: #373737;
}
.unread{
    color: #2886d9;
    font-size: 17px;
    font-weight: 600;
}
.list-item:hover{  
    background: #fbfafa8f;
}



.Sub-content{
    color: #404040;
}

